.game {
    background-color: #353835;
    display: flex; 
    padding: 2.5%;
    margin: 7.5%;
    margin-bottom: 3.75%;
    margin-top: 3.75%;
    border-radius: 8px;
    /* width platform dependent */
}

/* animated hand-fanning */
.sampleHand{
    padding: 64px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: -524; /* moves back up the bottom of all the empty space from the images actual positions */
}

.card{
    position: relative;
    transition: all ease 0.5s;
}

#cardLeft{
    bottom: -5px;
    left: -20px;
    transform: rotate(-10deg);
}

#cardLeft:hover{
    bottom: 0px;
    left: -40px;
    transform: rotate(-30deg);
}

#cardRight{
    bottom: 257px; /* rasing up to overlap card left */
    right: -20px;
    transform: rotate(10deg);
}

#cardRight:hover{
    bottom: 262px;
    right: -40px;
    transform: rotate(30deg);
}

#cardCenter{ /* raising up to overlap both side cards */
    bottom: 524px;
    transform: rotate(5deg);
}

#cardCenter:hover{
    bottom: 534px;
    transform: rotate(0deg);
}

/* the about section */
.about{
    margin: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%; /* allows us always to float all the way right; creates artifacts when not collapsed */
}

.title {
    font-size: 18pt;
}

#blip{
    margin: 16px;
    font-size: 14pt;
}

.download{
    background-color: #505050;
    padding: 8px;
    margin-right: 16px;
    border-radius: 4px;
    color: inherit;
    text-decoration: none;
    float: right;
}

.gameCollapse{
    float: right;
    background: none;
    border: 0px;
}

/* DESKTOP */
@media screen and (min-width: 800px){
    .game{
        width: 60%;
    }
}

/* MOBILE */
@media only screen and (max-width: 800px){
    .game{
        width: 80%;
    }
}