body{
    background-color: #222222;
    color: #f0f0f0;
}

.topbar{
    position: fixed;
    background-color: #456040;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 30pt;
    padding: 16px;
    z-index: 100;
}